@charset "utf-8";
/*---CSS Document---*/

/*---Import Reset---*/
@import url("reset.css");
/*---Import Reset End---*/


/*---CSS 3 @ Fontface---*/
@font-face {
    font-family: 'dekarregular';
    src: url('../font/dekar-webfont.eot');
    src: url('../font/dekar-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dekar-webfont.woff') format('woff'),
         url('../font/dekar-webfont.ttf') format('truetype'),
         url('../font/dekar-webfont.svg#dekarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dekar_lightregular';
    src: url('../font/dekar_light-webfont.eot');
    src: url('../font/dekar_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/dekar_light-webfont.woff') format('woff'),
         url('../font/dekar_light-webfont.ttf') format('truetype'),
         url('../font/dekar_light-webfont.svg#dekar_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*---CSS 3 @ Fontface End---*/


/*---Webpage Basic Structure---*/

html {
  height:100%;
  background-position:center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background_div {
  height:100%;
  min-height:100%;
  width:100%;
  min-width:100%;
  position:fixed;
}

html, body {
  height:100%;
  border:0px;
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
  color:#3a3a3a;
  font-size:14px;
  line-height:24px;
  font-weight:normal;
  text-align:justify;
  hyphens:none;  
  font-smooth:always;
  -webkit-font-smoothing:antialiased;
  /*text-shadow:0 1px 1px rgba(0,0,0,.8);*/
}

.wrapper{
  width:100%;
  min-height:100%;
  height:auto; 
  position:relative;
  top:0px;
  bottom:0px;
}

header {
  width:100%;
  height:auto;
  background:none;
  position:fixed;
  top:25px;
  left:0;
}

aside {
  position:fixed;
  top:100px;
  padding-left:10px;
  float:left;
}

.content {
  height:auto; !important
  min-height:100%;
  height:100%;
  top:100px;
  position:relative;
  float:right;
  display:block;
  background:#fff; /* Needed for IEs */;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.content_wrapper{
  width:1000px; 
  margin:0 auto;
  min-height:100%;
}

.logo {
  background:url('../images/logo_lite.png') center no-repeat;
  width:200px;
  height:105px;
  position:absolute;
  bottom:60px;
  z-index:999;  
}

footer {
  width:100%;
  height:40px;
  position:fixed;
  background:#fff;
  bottom:0;
  left:0;
}
/*---Webpage Basic Structure End---*/


/*---Font Formating---*/
p{
  margin:0;
  padding:0;
  text-align:justify;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:bold;
  line-height:30px;
  color:#00998C;
  padding:0;
  margin:0;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size:18px;
  font-weight:bold;
  line-height:28px;
  color:#00998C;
  padding:0;
  margin:0;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size:20px;
  font-weight:bold;
  line-height:50px;
  color:#00998C;
  padding:0;
  margin:0;
}

h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:normal;
  line-height:23px;
  color:#00998C;
  padding:0;
  margin:0;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:30px;
  font-weight:bold;
  line-height:40px;
  color:#000000;
  padding:0;
  margin:0;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
  font-weight:bold;
  line-height:35px;
  color:#000000;
  padding:0;
  margin:0;
}
/*---Font Formating End---*/


/*---Main Menu---*/
#maincurrent{
  width:160px;
  height:40px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  font-weight:bold;
  display:block;
  text-decoration:none;
  background:url("../images/nav_bar_hover.png") center no-repeat;
}

.menu_border{
  border-top:1px solid #fff; 
  border-bottom:1px solid #fff; 
  padding:2px; 
}

.mainmenu{
  width:1000px;
  height:40px;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  display:block;
  padding:0px;
  margin:0px;
  text-shadow:0 1px 1px rgba(0,0,0,.5);
  text-align:center;
}

.mainmenu ul{
  margin-right:20px;
  padding:0;
  list-style:none;
}

.mainmenu ul li{
  width:160px;
  height:40px;
  float:right;
  text-align:center;
}
		
.mainmenu ul li a{
  width:160px;
  height:40px;
  background:none;
  padding:0;
  margin:auto;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  font-weight:bold;
  color:#fff;
  line-height:40px;
  text-decoration:none;
  display:block;
}
	
.mainmenu ul li:hover a{
  text-decoration:none;
  width:160px;
  height:40px;
  display:block;
  font-size:15px;
  background:url("../images/nav_bar_hover.png") center no-repeat;
}
		
.mainmenu ul li ul{
  width:100%;
  height:0px;
  margin:0px;
  padding:0;
  border:0;
  display:none;
  background-color:#ffffff;
  position:absolute;
  z-index:200;
  /*top:1em;
  /*left:0;*/
}

.mainmenu ul li:hover ul{
  display:block;
}
			
.mainmenu ul li ul li {
  width:100%;
  height:0px;
  border:0;
  margin:0px;
  padding:0px;
  display:block;
  text-align:left;
  text-decoration:none;
  vertical-align:middle;
}
		
.mainmenu ul li:hover ul li a{
  background:none;
}
		
.mainmenu ul li ul a{
  width:100%;
  margin:0px;
  padding:0px;
  display:block;
  font-size:16px;
  font-style:normal;
  line-height:35px;
  color:#000000;
}
					
.mainmenu ul li ul a:hover,{
  border:0px;
  text-decoration:none;
}
					
.mainmenu ul li ul li:hover a{
  border:0px;
  width:100%;
  height:0px;
  text-decoration:none;
  color:#000000;
  background:#ffffff;
  text-shadow:none;
}

/*---Main Menu End---*/

/*---Side Menu---*/

#side_current{
  width:180px;
  height:auto;
  padding:0px;
  margin:0px;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow:0 1px 1px rgba(0,0,0,.5);
  display:block;
  background:url("../images/side_bar_hover.png") right center no-repeat;
}

.side_menu{
  width:180px;
  height:auto;
  padding:0px;
  margin:0px;
  font-family:Arial, Helvetica, sans-serif;
  text-shadow:0 1px 1px rgba(0,0,0,.5);
}
	
.side_menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position:relative;
}
	
.side_menu ul li {
  width:180px;
  padding:0px;
  height:30px;
  border-bottom:1px solid #fff;
  font-size:15px;
  line-height:30px;
}
	
.side_menu ul li a{
  width:180px;
  padding:0px;
  height:30px;
  color:#fff;
  text-decoration:none;
  display:block;
}
	
.side_menu ul li a:hover{
  color:#fff;
  text-decoration:none;
  background:url("../images/side_bar_hover.png") right center no-repeat;
}	
		
.side_menu li ul{
  width:100%;
  height:30px;
  padding:0px;
  margin:0px;
  border:0px;
  display:none;
  position:absolute;
  z-index:200;
}
	
.side_menu li:hover ul{
  display:block;
}
	
.side_menu li li {
  margin:0px;
  padding:0px;
  color:#000000;
}
		
.side_menu li:hover li a{
  background:none;
  margin:0px;
}	
	
.side_menu li ul a{
  float:left;
  margin:0px;
}
		
.side_menu li ul a:hover, .mainmenu li ul li:hover a{
  border:0px;
  color:#000000;
  text-decoration:none;
}
/*---Side Menu End---*/

/*---Footer Menu---*/

.footer_menu{
  width:auto;
  height:30px;
  padding:5px 0px 0px 0px;
  margin:0px 10px 0px 10px;
  float:left;
  font-size:11px;
}
	
.footer_menu ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  position:relative;
  float:left;
}
	
.footer_menu ul li {
  width:auto;
  padding:0px 10px 0px 10px;
  border-right:1px solid #ccc;
  float:left;
  display:inline-block;
  font-size:10px;
  line-height:30px;
}
	
.footer_menu ul li a{
  color:#000;
  text-decoration:none;
}
	
.footer_menu ul li a:hover{
  color:#888;
  text-decoration:none;
}	
		
.footer_menu li ul{
  width:100%;
  height:0;
  padding:0px;
  margin:0px;
  border:0px;
  display:none;
  position:absolute;
  z-index:200;
}
	
.footer_menu li:hover ul{
  display:block;
}
	
.footer_menu li li {
  margin:0px;
  padding:0px;
  color:#000000;
}
		
.footer_menu li:hover li a{
  background:none;
  margin:0px;
}	
	
.footer_menu li ul a{
  float:left;
  margin:0px;
}
		
.footer_menu li ul a:hover, .mainmenu li ul li:hover a{
  border:0px;
  color:#000000;
  text-decoration:none;
}
						
.copyright{
  width:auto;
  height:0px;
  padding:0px 20px 0px 20px;
  margin:0px;
  float:left;
  font-size:10px;
  line-height:40px;
  color:#000000;
}						
	
/*---Footer Menu End---*/

.facebook {
  margin: 0;
  padding:4px 5px 0px 0px;
  border: 0;
  background: transparent url('../images/facebook.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:33px;
  height:32px;
}

.facebook:hover {
  margin: 0;
  padding:4px 5px 0px 0px;
  border: 0;
  background: transparent url('../images/facebook_hover.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:33px;
  height:32px;
}

.twitter {
  margin: 0;
  padding:4px 5px 0px 0px;
  border: 0;
  background: transparent url('../images/twitter.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:33px;
  height:32px;
}

.twitter:hover {
  margin: 0;
  padding:4px 5px 0px 0px;
  border: 0;
  background: transparent url('../images/twitter_hover.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:33px;
  height:32px;
}

.pinterest {
  margin: 0;
  padding:4px 5px 0px 0px;
  border: 0;
  background: transparent url('../images/pinterest.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:33px;
  height:32px;
}

.pinterest:hover {
  margin: 0;
  padding:4px 5px 0px 0px;
  border: 0;
  background: transparent url('../images/pinterest_hover.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:33px;
  height:32px;
}

.rss {
  margin: 0;
  padding:4px 5px 0px 0px;
  border: 0;
  background: transparent url('../images/feed.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:33px;
  height:32px;
}

.rss:hover {
  margin: 0;
  padding:4px 5px 0px 0px;
  border: 0;
  background: transparent url('../images/feed_hover.png') no-repeat center bottom;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
  display:inline-block;
  width:33px;
  height:32px;
}



